{% extends "layout.html" %}


{% block body %}
<div class="container-fluid" style="margin-top: 80px;">
    <div class="col-md-8 col-md-offset-2" style="border: 1px solid red;">
        <a href="" style="text-decoration: none;display: block;border-bottom: 1px solid #eee;margin-top: 20px;padding-bottom: 10px">
        <article>
            <figure>
                <figcaption style="font-size: 30px;">西邮第三次技术分享大会圆满结束</figcaption>
                <img src="../static/upload_head/back.jpg" class="img-responsive" alt="Responsive image" style="height: 300px;border-radius: 3px;margin-top: 5px;margin-bottom:10px">
            </figure>
            <p style="font-size: 16px;color: #555">今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验....</p>
        </article>
        </a>
        <a href="" style="text-decoration: none;display: block;border-bottom: 1px solid #eee;margin-top: 20px;padding-bottom: 10px">
        <article>
            <figure>
                <figcaption style="font-size: 30px;">西邮第三次技术分享大会圆满结束</figcaption>
                <img src="../static/upload_head/back.jpg" class="img-responsive" alt="Responsive image" style="height: 300px;border-radius: 3px;margin-top: 5px;margin-bottom: 10px">
            </figure>
            <p style="font-size: 16px;color: #555">今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验....</p>
        </article>
        </a>
        <a href="" style="text-decoration: none;display: block;border-bottom: 1px solid #eee;margin-top: 20px;padding-bottom: 10px">
        <article>
            <figure>
                <figcaption style="font-size: 30px;">西邮第三次技术分享大会圆满结束</figcaption>
                <img src="../static/upload_head/back.jpg" class="img-responsive" alt="Responsive image" style="height: 300px;border-radius: 3px;margin-top: 5px;margin-bottom: 10px">
            </figure>
            <p style="font-size: 16px;color: #555">今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验今日在东区FF108举办了第三次校园分享会，在会上我们和其它小伙伴讨论了许多学习方面的经验....</p>
        </article>
        </a>
    </div>
</div>


{% endblock %}



{% block script %}

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../static/JS/handle.js"></script>

{% endblock %}